body{
    background:url(../img/bg.png);
}
.bannerbox {
    width:100%;
    position:relative;
    overflow:hidden;
    height:200px;
}
.banner {
    width:100%;
    position:relative;
    left:70%;
    margin-left:-1500px;
}

.main{
    margin:auto;
    width: 80%;
    padding:100px;
}

.leftBox{
    left:auto;
    float:left;
    width: 50%;
}

.rightBox{
    right:auto;
    float:right;
    width:50%;
}

.menu{
    float:right;
    width: 50%;
}

.menu>ul{
    color:ivory
}

.project{
    align-content: center;
    background:url(../img/bg01.jpg) no-repeat;
    list-style-type: none;
    margin: 0;
    padding: 0;
}