.background {
  background: url(/assets/img/menu.png);
}

.bar {
  margin-top: 100px;
  width: 1200px;
  height: 44px;
  background: #0046ad;
  color: #fffeee;
  display: table;
}

#fuckUcss {
  display: table-cell;
  padding-left: 100px;
}

.bar a {
  display: table-cell;
  vertical-align: middle;
  padding: 22px 22px 20px 20px;
  width: auto;
}

.bar a:hover {
  background-image: url(/assets/img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}
